@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: regular;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.woff") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Silkscreen";
    src: url("../fonts/Silkscreen-Regular.woff") format("woff");
    font-weight: regular;
}

@font-face {
    font-family: "Silkscreen";
    src: url("../fonts/Silkscreen-Bold.woff") format("woff");
    font-weight: bold;
}



*{
    font-family: Poppins, sans-serif;
    outline: none;
}

.logo{
    font-family: Silkscreen, "sans-serif";
}

body, html, #root{
    width: 100%;
    height: 100%;
}

.custom_scrollbar--hor::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  
/* Track */
.custom_scrollbar--hor::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.custom_scrollbar--hor::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
  
/* Handle on hover */
.custom_scrollbar--hor::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.loading::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffffff00, #ffffff0a, #ffffff16,#ffffff28, #ffffff04,#ffffff00);
    animation: move 5s ease-out infinite;
}

#waveSvg-path{
    animation: wavy 2s ease-in-out alternate infinite;
}

@keyframes move{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}


@keyframes wavy {
    0%{
        d:path("M0,128L34.3,128C68.6,128,137,128,206,117.3C274.3,107,343,85,411,106.7C480,128,549,192,617,186.7C685.7,181,754,107,823,69.3C891.4,32,960,32,1029,32C1097.1,32,1166,32,1234,37.3C1302.9,43,1371,53,1406,58.7L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z");
    }
    20%{
        d:path("m0 96 48 32c48 32 144 96 240 90.7 96-5.7 192-79.7 288-101.4 96-21.3 192 10.7 288 48 96 37.7 192 79.7 288 58.7s192-107 240-149.3l48-42.7v288H0Z");
    }
    40%{
        d:path("M0,128L34.3,128C68.6,128,137,128,206,117.3C274.3,107,343,85,411,106.7C480,128,549,192,617,186.7C685.7,181,754,107,823,69.3C891.4,32,960,32,1029,32C1097.1,32,1166,32,1234,37.3C1302.9,43,1371,53,1406,58.7L1440,64L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z");
    }
    60%{
        d:path("M0,64L30,69.3C60,75,120,85,180,117.3C240,149,300,203,360,213.3C420,224,480,192,540,165.3C600,139,660,117,720,133.3C780,149,840,203,900,213.3C960,224,1020,192,1080,176C1140,160,1200,160,1260,176C1320,192,1380,224,1410,240L1440,256L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z")
    }
    80%{
        d:path("M0,128L26.7,160C53.3,192,107,256,160,272C213.3,288,267,256,320,234.7C373.3,213,427,203,480,213.3C533.3,224,587,256,640,240C693.3,224,747,160,800,149.3C853.3,139,907,181,960,176C1013.3,171,1067,117,1120,122.7C1173.3,128,1227,192,1280,218.7C1333.3,245,1387,235,1413,229.3L1440,224L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z")
    }
    100%{
        d:path("M0,192L20,170.7C40,149,80,107,120,96C160,85,200,107,240,144C280,181,320,235,360,229.3C400,224,440,160,480,144C520,128,560,160,600,181.3C640,203,680,213,720,213.3C760,213,800,203,840,192C880,181,920,171,960,149.3C1000,128,1040,96,1080,80C1120,64,1160,64,1200,69.3C1240,75,1280,85,1320,106.7C1360,128,1400,160,1420,176L1440,192L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z")
    }
}