@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/static/Raleway-Bold.ttf");
  font-weight: 600; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway; }

body {
  height: 100%; }

main {
  position: relative;
  padding: 2rem;
  width: 100%; }

.main_header {
  width: 100%;
  height: 30%;
  padding: 0.8rem; }
  .main_header .header_center {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main_header .header_center center {
      position: relative;
      padding: 1rem;
      padding-bottom: 0.5rem;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center; }
      .main_header .header_center center .logo {
        width: 13%;
        margin-right: 0.5rem; }
    .main_header .header_center .motto {
      font-size: 0.85rem;
      font-weight: 600; }

.main {
  position: relative;
  width: 100%; }
  .main .btn_browse {
    width: 100%;
    position: relative; }
  .main .btn_main, .main .btn_main--dark {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: #4ba79f;
    color: #fff;
    padding: 0.8rem 0;
    border: none;
    border-radius: 2px;
    box-shadow: -0.5px 1.5px 3px rgba(0, 0, 0, 0.322); }
  .main .btn_fileReader {
    position: absolute;
    width: 100%;
    left: 0;
    cursor: pointer;
    bottom: 0;
    height: 100%;
    opacity: 0; }
  .main #file_name {
    display: block;
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 2px solid #cccccc;
    height: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    align-items: center; }
    .main #file_name:focus {
      outline: none; }
  .main .em {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1rem 0;
    display: block; }
  .main .main_slider {
    width: 100%;
    outline: none;
    border-radius: 4px;
    height: 3px;
    cursor: pointer;
    margin-bottom: 1rem; }
  .main .btn_main--dark {
    background-color: #333;
    margin: 1rem 0; }
  .main .output_path {
    width: 100%;
    display: block;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    height: 3.5rem;
    box-shadow: -1.5px 1px 4px rgba(0, 0, 0, 0.164); }
  .main #outputPath {
    font-weight: 300; }
