<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/layout/index.css" />
    <title>Image Shrink</title>
  </head>

  <body>
    <main>
      <header class="main_header">
        <div class="header_center">
          <center>
            <img src="../img/images-regular.svg" alt="" class="logo" />
            <h1 class="main_head">ImageShrink</h1>
          </center>
          <span class="motto">Choose an image to resize</span>
        </div>
      </header>

      <center class="main" id="form-image">
        <div class="btn_browse">
          <label class="btn_main" >Browse</label>
          <input type="file" class="btn_fileReader" id="btn_fileReader">
        </div>

        <label for="" class="main_textbox" id="file_name">Choose a file</label>

        <em class="em">
          <b>Quality:</b>
          The lower the quality, the smaller the file size
        </em>

        <input
          type="range"
          min="1"
          max="100"
          value="70"
          name=""
          class="main_slider"
          id="slider"
        />

        <input type="submit" value="RESIZE" accept="image/*" id="btn_submit" class="btn_main--dark" />

        <strong class="output_path">
          Output Path:
          <span id="outputPath"></span>
        </strong>
      </center>
    </main>

    <script src="../js/index.js"></script>
  </body>
</html>
