@import "../base/reset";

body {
  height: 100%;
}

main {
  padding: 2rem;
  width: 100%;
}

.main_header {
  width: 100%;
  height: 30%;
  padding: 0.8rem;

  .header_center {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    center {
      padding: 1rem;
      padding-bottom: 0.5rem;
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;

      .logo {
        width: 13%;
        margin-right: 0.5rem;
      }
    }

    .motto {
      font-size: 0.85rem;
      font-weight: 600;
    }
  }
}

.main {
  width: 100%;

  .btn_main {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: #4ba79f;
    color: #fff;
    padding: 0.8rem 0;
    border: none;
    border-radius: 2px;
    box-shadow: -0.5px 1.5px 3px rgba(0, 0, 0, 0.123);
  }

  .main_textBox {
    width: 100%;
    border: none;
    border-bottom: 2px solid #cccccc;
    height: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 0.3rem;

    &:focus {
      outline: none;
    }
  }

  .em {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 1rem 0;
    display: block;
  }

  .main_slider {
    width: 100%;
    outline: none;
    border-radius: 4px;
    height: 3px;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .btn_main--dark {
    @extend .btn_main;
    background-color: #333;
    margin: 1rem 0;
  }

  .output_path {
    width: 100%;
    display: block;
    // border: 1px solid #cccccc;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
    height: 3.5rem;
    box-shadow: -1.5px 1px 4px rgba(0, 0, 0, 0.164);
  }
}
